

.setContainer {
   margin: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: center; */
  /* align-self: center;*/
  align-items: flex-start;
  width: 50em;
  height: 20em;
  min-height: 60vh;
  border: 5px solid rgb(28, 163, 66);
  box-shadow: 10px -5px 10px 10px rgba(193, 193, 193, 0.265);
  border-radius: 15px;
  overflow: scroll;
  transition: all 1s;

}
.setContainer:hover{
   background-color: rgba(239, 239, 239, 0.6);
}

h1 {
  display: flex;
  letter-spacing: 0.35em;
  align-self: center;
  align-items: center;
  justify-content: center;
color: rgb(28, 163, 66);
  transition: all 1.5s
}
h1:hover{
   letter-spacing: 1em;
   color:rgb(13, 87, 34);;
   text-shadow: 10px 5px  rgba(8, 27, 7, 0.574);;
}
.centered {
  display: flex;
  justify-content: center;
}

Modal{
   justify-content: center;
   align-items: center;
}

.stack{
   display: flex;
   height:30%;
   width: 70%;
   min-width: 100px;
   min-height: 80px;
   border: 1px solid black;
   border-radius: 7%;
   justify-content: center;
   align-items: center;
   align-self: center;
   margin: 1rem;
   box-shadow: 3px 3px 6px rgba(9, 54, 47, 0.396);
   font-size: small;
   letter-spacing: 3px;
   transition: all 1s
}
 .stack:hover{
    background-color: rgba(185, 185, 185, 0.522);
    letter-spacing: 6px;
     transform: scale(1.05);
 }
 .stack:active{
    background-color: rgba(185, 185, 185, 0.312);
    color: rgba(0, 0, 0, 0.487);
    box-shadow: 3px 3px 6px rgba(31, 70, 64, 0.396);
    transform: scale(.98);
   
  }
 /* body{
    background: black;
 } */ 

 .header{
    margin: 2em;

 }
 #plusButton{
    margin: 1em;
 }