body {
  min-height: 100%;
  background-color: navy;
}
.setContainer {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr ;
  /* justify-content: center; */
  /* align-self: center;*/
  align-items: flex-start;
  width: 50em;
  height: 20em;
  min-height: 60vh;
  border: 5px solid rgb(175, 155, 69);
  box-shadow: 10px -10px 20px 20px rgba(179, 178, 214, 0.08);
  border-radius: 15px;
  overflow: scroll;
  background-color: #232351;
  transition: all 1s;
}
.setContainer:hover {
  transform: scale(1.01);
}

h1 {
  display: flex;
  letter-spacing: 0.35em;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: rgb(211, 199, 151);
  transition: all 1.5s;
}
h1:hover {
  letter-spacing: 1em;
  text-shadow: 10px 5px rgba(244, 248, 255, 0.419);
}
.centered {
  display: flex;
  justify-content: center;
}

Modal {
  justify-content: center;
  align-items: center;
}

.stack {
  display: flex;
  height: 30%;
  width: 70%;
  min-width: 100px;
  min-height: 80px;
  border: 1px solid black;
  border-radius: 7%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  margin: 1rem;
  box-shadow: 3px 3px 6px rgba(198, 198, 198, 0.396);
  font-size: small;
  letter-spacing: 3px;
  background-color: #3d3d91;
  transition: all 1s;
}
.stack:hover {
  background-color: rgba(185, 185, 185, 0.43);
  letter-spacing: 5px;
  transform: scale(1.02);
}
.stack:active {
  background-color: rgba(185, 185, 185, 0.215);
  color: rgba(0, 0, 0, 0.487);
  box-shadow: 3px 3px 6px rgba(167, 167, 167, 0.396);
  transform: scale(0.98);
}
/* body{
    background: black;
 } */

.header {
  margin: 2em;
}
#plusButton {
  margin: 1em;
}
#floatingInputGrid {
  overflow-x: none !important;
  overflow-y: scroll !important;
}
body {
  background-color: rgb(22, 22, 69) !important;
  color: rgb(217, 215, 202) !important;
}

.btn-outline-success {
  --bs-btn-color: #e3debc !important;
  --bs-btn-border-color: #e3debc !important;
  --bs-btn-hover-color: rgb(22, 22, 69) !important;
  --bs-btn-hover-bg: #e3debc78 !important;
  --bs-btn-hover-border-color: #e3debc !important;
  --bs-btn-focus-shadow-rgb: 217, 215, 202 !important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e3debc7c !important;
  --bs-btn-active-border-color: #e3debc7c !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d2d2d2;
  --bs-gradient: none;
}
/* .flashcard{
   height: 10em;
   width: 20em;
   border: 1px solid white;
} */

.cardz {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  height: 250px;
  width: 450px;
  transition: 200ms;
  background-color: #3d3d91;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  margin-bottom: 1rem;
  letter-spacing: 2px;
  word-spacing: 4px;
}
.cardz.flip {
  --rotate-y: 180deg;
}

.cardz .front,
.cardz .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.cardz .back {
  transform: rotateY(180deg);
  align-items: center;
}

.cardz:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.566);
  background-color: #3d3d918a;
}

.cardz .front {
  display: flex;
  left: 0;
  align-items: flex-start !important;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
.show {
  color: rgba(255, 255, 255, 0.662);
}
.modal-content {
  background-color: #3d3d91 !important;
  display: flex;
  align-items: center !important;
  letter-spacing: 3px;
  padding-bottom: 1em;
}
.modal-content input {
  width: 80%;
}

.cancel-button {
  padding: 1px;
  width: 14px;
  height: 14px;
  background-color: rgba(191, 191, 191, 0.025);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  border: 1px solid rgba(242, 241, 255, 0.685) !important;
  color: #fffcccdb;
  align-self: center;
  border: 1px solid rgb(46, 44, 84);
  box-shadow: 1px 1px 5px #c3c3d563;
  font-size: 10px;
  text-shadow: 0.5px 0.5px 2px #00000021;
}

.cancel-button:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 5px #ff9191e4;
}

.btn-success {
  --bs-btn-color: #e3debc !important;
  --bs-btn-border-color: #e3debc !important;
  --bs-btn-hover-color: rgb(255, 255, 255) !important;
  --bs-btn-hover-bg: #e3debc !important;
  --bs-btn-hover-border-color: #e3debc !important;
  --bs-btn-focus-shadow-rgb: 217, 215, 202 !important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e3debc7c !important;
  --bs-btn-active-border-color: #e3debc7c !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff !important;
  --bs-btn-disabled-bg: white !important ;
  --bs-btn-disabled-border-color: #d2d2d2;
  --bs-gradient: none;
  background-color: transparent !important;
}

.btn-success:hover {
  box-shadow: 5px 3px 10px 5px #d8ddf226;
}

.btn-primary {
  letter-spacing: 4px;
}
